Python Assignment

1. What are data structures, and why are they important?
-Data structures are specialized formats for organizing, storing, and managing data in a way that enables efficient access and modification.
Common Types of Data Structures:
.Arrays
.Lists
.sets
.Tuple
.Dictionary
Why Data Structures Are Important:
.Efficiency
.Data Management
.Problem solving
.System Design
.Memory Optimization

2. Explain the difference between mutable and immutable data types with examples?
-The difference between mutable and immutable data types lies in whether the object‚Äôs value can be changed after it is created.

 Mutable Data Types
 .Definition: Objects whose contents can be changed after creation.
Examples in Python:

Lists: list
Dictionaries: dict
Sets: set

Example(Mutabe):
my_list = [1, 2, 3]
my_list.append(4)  # Changes the original list
print(my_list)     # Output: [1, 2, 3, 4]
 Immutable Data Types
 .Definition: Objects whose contents cannot be changed after creation.
Examples in Python:
.Float
.String
.Tuple
.Boolean
 Example (String - Immutable):
my_string = "hello"
new_string = my_string.upper()  # Returns a new string
print(my_string)      # Output: "hello"
print(new_string)     # Output: "HELLO"

3. What are the main differences between lists and tuples in Python?
-The main difference between lists and tuple is list is Mutable(List: Mutable ‚Äì you can change, add, or remove elements),whereas tuple is Immutable(Tuple: Immutable ‚Äì once created, you cannot change its contents).
.List uses [],Tuple uses()
.Tuple: Slightly faster than lists for iteration and access due to immutability,List: Slightly slower because of dynamic features (like resizing, appending).
.List: Has more built-in methods like .append(), .remove(), .sort(), etc,Tuple: When you want a fixed collection of items (e.g., coordinates, function returns).
.List: Has more built-in methods like .append(), .remove(), .sort() whereas Tuple: Only supports basic methods like .count() and .index().
.Tuple: Hashable (if it contains only hashable elements), so it can be used as a dictionary key,List: Not hashable ‚Äì cannot be used as dictionary keys.

4. Describe how dictionaries store data?
-In Python, dictionaries store data in the form of key-value pairs, like this:
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

5.Why might you use a set instead of a list in Python?
-When you need unique items by removing duplicates a set is used.
.For faster membership testing set is used
.To perform set operations like Union,Interesection,Difference..

6. What is a string in Python, and how is it different from a list?

.In Python, a string is a sequence of characters, while a list is a sequence of elements (of any type).
.A string is a collection of characters enclosed in quotes
my_string = "Hello, world!"
.It‚Äôs immutable (cannot be changed).
.Each character has an index: my_string[0] ‚Üí 'H'

7. How do tuples ensure data integrity in Python?
-Tuples help ensure data integrity in Python because they are immutable, meaning their contents cannot be changed after creation.

.Immutability-Once a tuple is created, you cannot add, remove, or change its elements. This protects the data from accidental changes.
.Hashability-Because they‚Äôre immutable, tuples can be used as dictionary keys or elements of sets, unlike lists.

8.What is a hash table, and how does it relate to dictionaries in Python?
-A hash table is a data structure that stores key-value pairs and allows for fast lookup, insertion, and deletion using a technique called hashing.

In Python, a dictionary is an implementation of a hash table.

9. Can lists contain different data types in Python?
-Yes, lists in Python can contain different data types. Python lists are heterogeneous, meaning you can mix and match data types within a single list.

10. Explain why strings are immutable in Python?
-In Python, strings are immutable because once a string is created, its contents cannot be changed. Here's why this design choice is made and why it matters:

.When you create a string in Python, the object is stored in memory with a specific value.

.If you try to change a character in that string, Python will not modify the original string but will instead create a new string.

11. What advantages do dictionaries offer over lists for certain tasks?
-Dictionaries offer several key advantages over lists in Python when it comes to certain tasks, especially those involving key-based lookups, fast access, and structured data.

12.Describe a scenario where using a tuple would be preferable over a list?

-Using a tuple is preferable over a list when you want to store a fixed collection of items that should not change, especially when:

- 1. Data Integrity Is Important (Immutability)
Scenario: You're returning coordinates from a function.
def get_coordinates():
    return (10, 20)
.Coordinates like (x, y) should not be changed, so using a tuple ensures the data stays intact.

.If you used a list, someone could accidentally modify the values:
.Scenario: You‚Äôre working with a large number of small collections in performance-sensitive code (e.g., tokenizing text).

.Tuples have better performance than lists for iteration and storage.

.Scenario: You‚Äôre mapping GPS coordinates to city names.
locations = {
    (40.7128, -74.0060): "New York",
    (34.0522, -118.2437): "Los Angeles"
}
.Tuples are hashable, so they can be used as keys in a dictionary.

.Lists are not hashable and cannot be used as keys.

.Scenario: You're unpacking fixed-format data, like rows from a database.

person = ("Alice", 30, "Engineer")
name, age, profession = person
.If you don‚Äôt need to change the values later, a tuple makes it clear the data is static and structured.

13. How do sets handle duplicate values in Python?
-In Python, sets automatically eliminate duplicate values.

-When you create a set, any duplicate elements are removed, and only unique elements are stored. This behavior is built into the way sets are implemented in Python, using hashing.

14. How does the ‚Äúin‚Äù keyword work differently for lists and dictionaries?
-The in keyword in Python is used to check for membership, but it behaves differently for lists and dictionaries:

For lists:
The in keyword checks if a value exists in the list.

my_list = [10, 20, 30]
print(20 in my_list)  # True
print(25 in my_list)  # False

 For dictionaries:
 The in keyword checks if a key exists in the dictionary ‚Äî not the values.

my_dict = {'a': 1, 'b': 2}
print('a' in my_dict)    # True  (key)
print(1 in my_dict)      # False (not a key)

15. Can you modify the elements of a tuple? Explain why or why not?
-No, you cannot modify the elements of a tuple in Python because tuples are immutable.

.Once a tuple is created, its elements cannot be changed, added, or removed.

.Exception when mutable objects are inside a tuple

16. What is a nested dictionary, and give an example of its use case?
-A nested dictionary in Python is a dictionary that contains another dictionary (or dictionaries) as its value. This allows you to represent more complex, hierarchical data structures.

.students = {
    "student1": {"name": "Alice", "age": 20, "major": "Computer Science"},
    "student2": {"name": "Bob", "age": 22, "major": "Mathematics"}
}

17. Describe the time complexity of accessing elements in a dictionary?
-Accessing elements in a dictionary by key is generally:

 Average-case time complexity: O(1) (constant time)
 .This means that no matter how big the dictionary is, looking up a value by its key typically takes the same amount of time.

.Python dictionaries are implemented using hash tables. When you access an element like this:
.value = my_dict["key"]

18. In what situations are lists preferred over dictionaries?
-Lists are preferred over dictionaries in Python when:

.‚úÖ Order and Position Matter
.‚úÖ Data Has No Unique Key
.‚úÖ You Need to Maintain Duplicates
.‚úÖ You‚Äôre Performing Sequential Operations
.‚úÖ Memory Efficiency (for small data)

19. Why are dictionaries considered unordered, and how does that affect data retrieval?
-As of Python 3.7, dictionaries preserve insertion order as an official language feature:
.However, even though the order is preserved, dictionaries are still conceptually unordered mappings ‚Äî meaning you should access values by key, not by position.

üîπ How Does This Affect Data Retrieval?
Retrieving by key is unaffected by order:

.Lookup time is still constant (O(1)).

.You don‚Äôt need to know the order‚Äîjust the key.

Iteration order matters now (in 3.7+):


.You can depend on the order of keys or items as they were added.
.Dictionaries were considered unordered because order wasn't guaranteed pre-3.7. This didn‚Äôt affect retrieval by key, but it did affect iteration. Now, they maintain insertion order, making them more predictable in modern Python versions.

20. Explain the difference between a list and a dictionary in terms of data retrieval?
-‚úÖ List: You retrieve values by their position (e.g., 1st, 2nd, 3rd item).
.Data is retrieved using a numeric index
.Ordered collection of items
.Fast (O(1) with index)
.Best for ordered or sequential data

-‚úÖ Dictionary: You retrieve values by their name or label (the key), not by position.
.Data is retrieved using a unique key
.Unordered collection of key-value pairs
..Fast (O(1) with key using hash table)
.Best for labeled or mapped data

Practical Questions:
# 1. Write a code to create a string with your name and print it

In [1]:
# Create a string with your name
my_name = "Gouthami"

# Print the string
print("My name is:", my_name)

My name is: Gouthami

# 2. Write a code to find the length of the string "Hello World"

In [2]:
# Define the string
text = "Hello World"

# Find and print the length
print("Length of the string:", len(text))

Length of the string: 11

3.Write a code to slice the first 3 characters from the string "Python Programming"

In [3]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

4. Write a code to convert the string "hello" to uppercase

In [4]:
# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [5]:
# Define the string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

6. Write a code to create a list with numbers 1 to 5 and print it

In [6]:
# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [7]:
# Define the list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [8]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [9]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [10]:
# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [11]:
# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [ ]:
12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [12]:
colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [13]:
numbers = (10, 20, 5, 15)
minimum = min(numbers)
print(minimum)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [14]:
animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [15]:
fruits = ('apple', 'banana', 'orange')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

 Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [16]:
my_set = {'a', 'b', 'c'}
print(my_set)

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [17]:
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [18]:
my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [19]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [20]:
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(person)

{'name': 'Alice', 'age': 30, 'city': 'New York'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [22]:
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print(person)

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [23]:
person = {'name': 'Alice', 'age': 30}
print(person['name'])

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [24]:
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')  # Remove the key 'age'
print(person)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [25]:
person = {'name': 'Alice', 'city': 'Paris'}

if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [26]:
# Creating a list
my_list = [1, 2, 3, 4, 5]

# Creating a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Printing them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [27]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = [random.randint(1, 100) for _ in range(5)]

# Sort the list in ascending order
random_numbers.sort()

# Print the result
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [22, 27, 62, 79, 99]

28. Write a code to create a list with strings and print the element at the third index.

In [28]:
# Create a list with strings
fruits = ['apple', 'banana', 'cherry', 'date', 'elderberry']

# Print the element at the third index (indexing starts at 0)
print("Element at index 3:", fruits[3])

Element at index 3: date

29. Write a code to combine two dictionaries into one and print the result.

In [29]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

30. Write a code to convert a list of strings into a set.

In [30]:
# List of strings
string_list = ['apple', 'banana', 'cherry', 'apple']

# Convert the list to a set
string_set = set(string_list)

# Print the result
print("Set of strings:", string_set)

Set of strings: {'banana', 'apple', 'cherry'}